html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Style för hela sidan */
#container
{
	width: 780px;
	margin: 10px auto;
	text-align: left;
	border: 1px solid #514A45;
	border-bottom: none;
}
/* Style för bild/header */
#topbar
{
	width: 780px;
	height: 280px;
	text-align: right;
	font: italic 10px Verdana;
	line-height: 20px;
	background: #2D2016;
	color: #FFFFFF;
	background-image: url("pics/coffey.jpg");
	background-position: bottom; 
	background-repeat: no-repeat;
	background-size: 100%;
}
/* Style för meny */
#menu {
	height: 40px;
	background: #2D2016;
	padding-left: 5px;
}
#menu li {
	list-style: none;
	font: 15px Verdana;
	float: left;
	padding-top: 5px;
	padding-right: 1px;
	text-transform: capitalize;
}
#menu li a {
	background: #514A45;
	text-decoration: none;
	display: block;
	width: 130px;
	height: 35px;
	text-align: center;
	color: #FFFFFF;
	line-height: 33px;
}
#menu a:hover {
	background: #B0A399;
}
/* Class active som pekar på vilken sida vi är på */
#menu .active a {
	display: block;
	background: #E4DAD2;
	color: #514A45;
}
/* Gömmer element, finns inte med på bilden */
#menu a 
{
    display: none;
}
/* Style för hela content */ 
#content 
{
	float: left;
	width: 760px;
	padding: 10px;
	border: 1px solid #514A45;
	border-top: none;
	background: #E4DAD2;
}
/*Lorem Ipsum*/
#maincontent {
    display: block;
    width: 400px;
    float: left;
    margin-top: 15px;
    color: #514A45;
}
#maincontent h1 {
	font: normal 30px Times;
	padding-bottom: 15px;
	padding-left: 5px;
}
#maincontent img {
    float: left;
    margin: 5px;
}
#maincontent p {
    font: normal 15px Times;
    line-height: 25px;
}
/*Quisque*/ 
#subcontent {
    display: block;
    width: 345px;
    float: left;
    margin-left: 10px;
    height: 326px;
    border-left: 1px dotted #514A45;
    margin-top: 15px;
	color: #514A45;
}
#subcontent h1 {
    font: 20px Verdana;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-top: 13px;
}
#subcontent h2 {
    font: 15px Verdana;
	padding-top: 30px;
	padding-left: 5px;
}
#subcontent p {
    font: 10px Verdana;
    padding-left: 5px;
    line-height: 20px;
}
#subcontent a {
    padding-left: 5px;
    line-height: 20px;
    color: #514A45;
}
/* Style för footer */
#bottomcontent {
    text-align: left;
    float: left;
    font: italic 10px Verdana;
    padding-top: 10px;
    color: #514A45;
}